.l-header
    .container
        .l-header__logo.big-title 
            a(href="index.html") HaveFun
        .l-header__search
            i.fas.fa-search
            input(type="text" placeholder="Explore your own activities")