<!DOCTYPE html>
html(lang="en")
    head
        include partial/_meta.jade
    body
        include partial/_header.jade
        .l-main
            .container.h-flex
                include partial/_sidebar.jade
                block content